.banners-list__items {
  display: flex;
  gap: 25px;
}

.banners-list__item {
  width: calc((100% - 50px) / 3);
  border-radius: 10px;
  overflow: hidden;

  & img {
    height: 100%;
    width: 100%;
    object-fit: cover;
  }

  & figure {
    height: 173px;
  }
}

.banners-list {
  margin-bottom: 98px;
}