*,
*::before,
*::after {
    box-sizing: border-box;
}

.scrollbar--blue {
    scrollbar-width: thin;
    /* "auto" или "thin"  */
    scrollbar-color: #3251A3 #F8F8F8;

    &::-webkit-scrollbar {
        width: 3px;
        height: 3px;
    }

    &::-webkit-scrollbar-track {
        background: #F8F8F8;
        border-radius: 50px;
    }

    &::-webkit-scrollbar-thumb {
        background-color: #3251A3;
        border-radius: 50px;
    }
}

body {
    font-family: 'Inter', Arial, sans-serif;
    color: $dark;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 100vh;
}

a {
    color: inherit;
    text-decoration: none;
}

h1,
.h1 {
    @include fluid-font-size(16px, 26px);
    line-height: 120%;
    font-weight: 500
}

h2,
.h2 {
    @include fluid-font-size(16px, 20px);
    line-height: 110%;
    font-weight: 500
}

h4,
.h4 {
    @include fluid-font-size(14px, 16px);
    line-height: normal;
}

.max-width,
.container {
    max-width: $maxWidth;
    padding: 0 15px;
    margin: 0 auto;
    box-sizing: border-box;

    @media (max-width: $s480) {
        padding: 0 8px;
    }
}



[data-popup] {
    cursor: pointer;
}

.icon {
    width: 24px;
    height: 24px;
}

.icon img,
.icon svg {
    width: 100%;
    height: 100%;
}

.image img {
    max-width: 100%;
}

.btn {
    border-radius: 8px;
    background: $blueLight;
    padding: 11px 26px;
    color: $white;
    font-size: 16px;
    line-height: 150%;
    cursor: pointer;
    border: none;
    font-family: inherit;

    &--darkest {
        background-color: $blueDark;
    }

    &--blue-light {
        border-radius: 8px;
        border: 1px solid #FFF;
        background: #F5F7FA;
        color: #3251A3;
    }

    &--with-burger {
        display: flex;
        gap: 9px;
        align-items: center;

        &>span {
            justify-content: space-between;
            display: flex;
            flex-direction: column;
            gap: 4px;
            width: 19px;

            & span {
                width: 100%;
                height: 1px;
                background-color: $white;
                border-radius: 4px;
            }
        }
    }

    &--white {
        background: #fff;
        color: #3251A3;
    }

    &--grey {
        background: #F5F7FA;
        color: #222;

        &.clr--blue-dark {
            color: $blueDark;
        }
    }

}

.nav {
    gap: 24px;
    display: flex;
}

.nav__item {
    display: flex;
    align-items: center;
    gap: 3px;
}

.nav--columns {
    gap: 11px;
    flex-direction: column;
}

.nav--item-head {
    margin-bottom: 11px;
    color: $dark;
    font-size: 16px;
    font-weight: 700;
    line-height: 125%;
}

.swiper-pagination-bullet {
    background: #fff;
    opacity: .4;
}

.swiper-pagination-bullet-active {
    opacity: 1;
}

.flat-pag .swiper-pagination-bullet {
    width: 12px;
    height: 2px;
    background: #DEDEDE;
    opacity: 1;
}

.flat-pag .swiper-pagination-bullet-active {
    background: #3251A3;
}

.filter-selected {
    background: #5263FC;
    color: #fff;
}

.bg--purple {
    background: #A56FFD;
}

.bg--peach {
    background: #FF6565;
}

.clr--red {
    color: #E83A31;
}

.clr--blue-dark {
    color: $blueDark
}

.clr--blue-light {
    color: $blueLight
}

.object-fit {
    overflow: hidden;

    & img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}

.page-head-wrp {
    display: flex;
    height: 120px;
    border-radius: 10px;
    overflow: hidden;
}

.page-head__content {
    background: #F5F7FA;
    padding: 16px 36px;
    width: 50%;
    flex-grow: 1;
}

.page-head__banners {
    width: 50%;
}

.breadcrumbs {
    color: #5B7FFF;
    font-size: 12px;
    font-weight: 500;
    line-height: normal;
    margin-bottom: 12px;
}

.breadcrumbs__item:before {
    content: " / ";
}

.breadcrumbs__item:first-child:before {
    content: "";
}

.page_title {
    line-height: 123%;
}

.page-head__subtitle {
    color: rgba(0, 26, 52, 0.60);
    font-size: 12px;
    font-weight: 500;
    line-height: normal;
    margin-top: 5px;
}

.page-head__banner {
    position: relative;
    color: #fff;
    padding: 19px 16px 11px;
}

.page-head__banner-title {
    font-size: 16px;
    font-weight: 700;
    line-height: 140%;
    margin-bottom: 5px;
}

.page-head__banner-desc {
    font-size: 12px;
    line-height: 133%;
    margin-bottom: 10px;
}

.page-head__banner-link .btn {
    padding: 8px 14px;
    font-size: 12px;
    line-height: 16px;
}

.page-head__banner-pic {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}

.page-head__banners.swiper-horizontal>.swiper-pagination-bullets {
    bottom: 12px;
    text-align: end;
    padding-right: 12px;
}

.catalog__content {
    display: flex;
    gap: 20px;
}

.catalog__sidebar {
    width: 240px;
    flex-shrink: 0;
}

.page-head {
    margin-bottom: 44px;
}

.sidebar__title {
    font-weight: 600;
    margin-bottom: 15px;
}

.sidebar__category-title {
    display: flex;
    gap: 4px;
    align-items: center;
    font-size: 14px;
    font-weight: 500;
    line-height: normal;
}

.sidebar__category-title .icon {
    width: 14px;
    height: 17px;
    transition: .2s all ease;
    transform: rotate(90deg);
}

.sidebar__category {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.sidebar__category-list {
    font-size: 13px;
    font-weight: 500;
    line-height: normal;
    padding-left: 21px;
    margin-bottom: 15px;
}

.sidebar__category-item {
    border-radius: 5px;
    padding: 8px 9px;
}

.category-active {
    background: rgba(50, 81, 163, 0.10);
}

.sidebar__categories {
    display: flex;
    flex-direction: column;
    gap: 13px;
    margin-bottom: 38px;
}

.sidebar__category:last-child .sidebar__category-list {
    margin-bottom: 0;
}

.filter {
    display: flex;
    flex-direction: column;
    gap: 45px;
}

.filter-block__title {
    font-weight: 600;
    line-height: normal;
    margin-bottom: 7px;
}

.filter-block__search {
    border-radius: 5px;
    background: #F5F7FA;
    border: none;
    padding: 9px 13px;
    font-size: 13px;
    line-height: normal;
    margin-bottom: 21px;
}

.filter-block__checkboxes {
    display: flex;
    flex-direction: column;
    gap: 13px;
}

.filter-block__checkbox-item {
    font-size: 14px;
    font-weight: 500;
    cursor: pointer;
}

.filter-block__checkbox-item input {
    display: none;
}

.filter-block__checkbox-item span:before {
    content: "";
    border-radius: 3px;
    border: 2px solid #DEDEDE;
    width: 20px;
    height: 20px;
}

.filter-block__checkbox-item span {
    display: flex;
    align-items: center;
    gap: 7px;
}

.filter-block__checkbox-item input:checked+span:before {
    background: #5B7FFF;
    border-color: #5B7FFF;
}

.filter-block__letters {
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
}

.filter-block__letter span {
    width: 36px;
    height: 36px;
    border-radius: 3px;
    border: 1px solid #EEE;
    background: #F5F7FA;
    font-size: 16px;
    line-height: normal;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.filter-block__letter input {
    display: none;
}

.filter-block__letter input:checked+span {
    background: #5B7FFF;
    border-color: #5B7FFF;
    color: #fff;
}

.catalog__head {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 38px;
}

.catalog__sort {
    padding: 8px 39px 8px 13px;
    border-radius: 5px;
    border: 1px solid #BBB;
    background: #FFF;
    font-size: 14px;
    position: relative;
    min-width: 196px;
    cursor: pointer;
}

.catalog__sort-arrow {
    position: absolute;
    top: 50%;
    right: 21px;
    width: 13px;
    padding: 2px;
    transform: translateY(-50%);
}

.page__navigation {
    display: flex;
    align-items: center;
    gap: 10px;
}

.pages__nums {
    display: flex;
    align-items: center;
    gap: 14px;
    font-size: 15px;
    line-height: 1;
    /* 100% */
    letter-spacing: 0.3px;
}

.pages__turn {
    display: flex;
    align-items: center;
    font-size: 12px;
    letter-spacing: 0.24px;
    gap: 7px;
}

.pages__num {
    padding: 6px 10px;
}

.page--selected {
    border-radius: 5px;
    background: #F5F7FA;
}

.pages__prev-icon {
    transform: scale(-1);
}

.pages__turn .icon {
    width: 14px;
}

.pages__turn .icon path {
    stroke: #222;
}

.product {
    display: flex;
    border-bottom: 1px solid #DEDEDE;
    padding: 20px 0;
    position: relative;
}

.product:first-child {
    padding-top: 0;
}

.product__gallery {
    margin: 0 30px 0 5px;
    width: 106px;
}

.product .gallery__pic {
    height: 124px;
}

.product__tags {
    display: flex;
    gap: 6px;
    margin-bottom: 12px;
}

.product__tag {
    padding: 6px 7px;
    border-radius: 6px;
    color: #fff;
    font-size: 10px;
    line-height: 1;
    /* 100% */
    letter-spacing: 1.2px;
    text-transform: uppercase;
    box-shadow: 0px 0px 10px 0px rgba(255, 101, 101, 0.25);
}

.product__name {
    display: block;
    margin-bottom: 7px;
}

.product__actions {
    margin-left: auto;
    display: flex;
    flex-direction: column;
    margin-right: 0;
}

.product__chars {
    font-size: 14px;
    line-height: normal;
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.product__char {
    display: flex;
    gap: 5px;
}

.product__char span:first-child {
    color: rgba(0, 26, 52, 0.60);
}

.product__price {
    font-size: 18px;
    font-weight: 700;
    line-height: 190%;
}

.product__in-stock {
    color: #69BE15;
    font-size: 14px;
    font-weight: 500;
    line-height: 140%;
}

.product__actions .btn {
    margin-top: auto;
    font-size: 14px;
    line-height: 1;
    padding: 13px;
    min-width: 170px;
    margin-right: 70px;
}

.product__fav {
    position: absolute;
    top: 20px;
    right: 0;
}

.product:first-child .product__fav {
    top: 0;
}

.catalog__banner-sep {
    height: 120px;
    padding: 19px 16px 11px;
    border-radius: 10px;
    overflow: hidden;
    position: relative;
    width: 100%;
    top: -1px;
    z-index: 2;
}

.catalog__banner-pic {
    width: 100%;
    position: absolute;
    height: 100%;
    top: 0;
    left: 0;
    z-index: -1;
}

.catalog-items {
    flex-grow: 1;
}

.catalog__banner-content {
    color: #fff;
}

.catalog__banner-title {
    font-size: 16px;
    font-weight: 700;
    line-height: 140%;
    margin-bottom: 5px;
}

.catalog__banner-desc {
    font-size: 12px;
    line-height: 16px;
    margin-bottom: 10px;
}

.catalog__banner-content .btn {
    font-size: 12px;
    line-height: 16px;
    padding: 8px 14px;
    border-radius: 4px;
}

.catalog__foot {
    padding-top: 66px;
    display: flex;
    justify-content: flex-end;
}

.catalog__content {
    margin-bottom: 30px;
}

.product__actions .btn--grey {
    margin-right: 0;
    min-width: 240px;
}

.items__slider {
    & .items__card-list {
        flex-wrap: nowrap;
        gap: 0;
    }
}

.basic_slider__arrows .swiper-button-next,
.basic_slider__arrows .swiper-button-prev {
    width: 48px;
    height: 48px;
    user-select: none;

    &:after {
        display: none;
    }
}

.items__slider-wrp {
    position: relative;
}

.basic_slider__arrows .swiper-button-next,
.basic_slider__arrows .swiper-button-prev {
    top: calc(50% - 35px / 2);
    margin-top: 0;
    transform: translateY(-50%);
}

.basic_slider__arrows .swiper-button-next {
    right: -68px;
}

.basic_slider__arrows .swiper-button-prev {
    left: -68px;
    transform: scale(-1) translateY(50%);
}

.basic_slider {
    padding-bottom: 35px;

    &.swiper-horizontal>.swiper-pagination-bullets {
        bottom: 0;
    }

    & .swiper-pagination-bullet {
        background: #5B7FFF;
        opacity: 0.2;

        &-active {
            opacity: 1;
        }
    }
}

.clients__slider-wrp {
    position: relative;

    & .clients__list {
        gap: 0;
    }
}

.detail-card {
    display: flex;
    align-items: flex-start;
    margin-bottom: 80px;
}

.detail__pic-wrp {
    width: 38%;
    flex-shrink: 0;
    margin-right: 37px;
    display: flex;
}

.detail__chars-tags {
    display: flex;
    gap: 10px;
    color: #fff;
    font-size: 10px;
    font-weight: 500;
    line-height: 1;
    /* 100% */
    letter-spacing: 1.2px;
    text-transform: uppercase;
    margin-bottom: 10px;
}

.detail__chars-tag {
    box-shadow: 0px 0px 10px 0px rgba(255, 101, 101, 0.25);
    border-radius: 6px;
    padding: 6px 7px;

    /* 100% */
}

.detail__chars-title {
    font-size: 16px;
    font-weight: 500;
    line-height: 34px;
    margin-bottom: 7px;
}

.detail__chars-list {
    margin-bottom: 25px;
    display: flex;
    flex-direction: column;
    gap: 15px;
    font-size: 14px;
    font-weight: 500;
    line-height: normal;
    max-width: 450px;
}

.detail__chars-item>span:first-child {
    color: rgba(0, 26, 52, 0.60);
    display: flex;
    gap: 8px;
}

.detail__chars-item span {
    width: 50%;
}

.detail__chars-item {
    display: flex;
    gap: 8px;
}

.detail__chars {
    flex-grow: 1;
}

.detail__chars-item-sep {
    flex-grow: 1;
    border-bottom: 1px dashed #DBDBDB;
}

.detail__chars-list a {
    color: #5B7FFF;
}

.detail__chars-show {
    color: #5B7FFF;
    font-size: 14px;
}

.detail__to-basket {
    border-radius: 15px;
    background: #FFF;
    box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.10);
    padding: 46px 40px;
    display: flex;
    flex-direction: column;
    gap: 17px;
}

.detail__actions {
    border-radius: 15px;
    background: #F5F7FA;
    width: 330px;
}

.detail__count-info {
    padding: 20px 40px 23px;
    display: flex;
    flex-direction: column;
    gap: 7px;
    font-size: 14px;
    line-height: 1;
}

.count-info__item {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

b {
    font-weight: bold;
}

.count-info__item span:last-child {
    font-weight: bold;
    padding: 5px 7px 4px;
    border-radius: 5px;
    background: #E6E8EC;
}

.count-info__item span.bg--green {
    color: #FFF;
    background: #00D756;
}

.detail__price {
    font-size: 22px;
    line-height: 145%;
    font-weight: bold;
}

.detail__to-basket-button .btn {
    font-size: 14px;
    font-weight: 700;
    line-height: 14px;
    padding: 18px;
    width: 100%;
}

.counter {
    border-radius: 8px;
    background: #F5F7FA;
    padding: 14px 18px;
    display: flex;
    justify-content: space-between;
    font-size: 16px;
    font-weight: 600;
    line-height: 14px;
    min-width: 135px;
}

.counter-minus,
.counter-plus {
    width: 15px;
    height: 15px;
    position: relative;
    cursor: pointer;
}

.counter-minus:before,
.counter-plus:before {
    content: "";
    position: absolute;
    top: 50%;
    left: 0;
    width: 100%;
    height: 1px;
    background: #000;
}

.counter-plus:after {
    content: "";
    height: 15px;
    width: 1px;
    position: absolute;
    left: calc(50% - 0.5px);
    top: 0;
    background: #000;
}

.analog__list .product:first-child {
    padding-top: 20px;
    border-top: 1px solid #DEDEDE;
}

.analog__list .product:last-child {
    border-bottom: 0;
}

.analog__title {
    margin-bottom: 18px;
}

.product_second-type .gallery__pic {
    height: 80px;
}

.product_second-type .product__content {
    gap: 30px;
    display: flex;
    align-items: flex-start;
    margin-top: 12px;
}

.product_second-type .product__name {
    font-size: 16px;
    font-weight: 500;
    line-height: 22px;
    max-width: 400px;
}

.product_second-type .product__char span {
    font-weight: 500;
}

.product_second-type .product__actions {
    flex-direction: row;
    align-items: flex-start;
    gap: 70px;
    padding-top: 4px;
}

.product_second-type .product__actions .btn {
    padding: 10px 17px;
    min-width: 106px;
    margin: 8px 0 0;
}

.analog__list .product:first-child {
    padding-top: 8px;
}

.product_second-type {
    padding: 8px 0 15px;
}

.product_second-type .swiper-horizontal .product__gallery-pagination {
    bottom: -2px;
}

.product_second-type .product__in-stock {
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
}

.product_second-type .product__price-wrp {
    display: flex;
    flex-direction: column-reverse;
}

.product_second-type .product__price {
    margin-top: -5px;
}

.detail__analogs {
    max-width: 1133px;
    margin-bottom: 87px;
}

.detail__desc {
    margin-bottom: 60px;
    display: flex;
    flex-direction: column;
    gap: 18px;
    font-size: 14px;
    font-weight: 400;
    line-height: 170%;
    max-width: 870px;
}

.detail__detail-chars {
    display: flex;
    flex-direction: column;
    gap: 28px;
    max-width: 970px;
    margin-bottom: 87px;
}

.detail__detail-chars-list {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    line-height: normal;
    font-size: 14px;
    justify-content: space-between;

    & .detail__chars-item {
        width: calc((100% - 55px) / 2);
    }
}



.detail__apply {
    display: flex;
    flex-direction: column;
    gap: 18px;
}

.detail__apply-list {
    color: #5B7FFF;
    font-size: 14px;
    font-weight: 500;
    line-height: normal;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.detail-sec {
    margin-bottom: 100px;
}

.detail-sec .items {
    max-width: 1250px;
}

.items_second-type .swiper-button-prev,
.items_second-type .swiper-button-next {
    position: static;
    margin: 0;
    transform: none;
}

.items_second-type .items__arrows {
    position: absolute;
    top: -65px;
    right: 0;
    display: flex;
    gap: 15px;
}

.items_second-type .swiper-button-prev {
    transform: scale(-1);
}

.detail__thumbs-slider {
    width: 62px;
    flex-shrink: 0;
    display: flex;
    align-items: center;
    justify-content: center;

    & .image {
        height: 100%;

        & img {
            max-height: 100%;
        }
    }
}

.detail__thumb {
    height: 56px;
    padding: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    border: 1px solid #D9D9D9;

    &.swiper-slide-thumb-active {
        border-color: $blueLight;
    }
}

.detail__pic-slider {
    margin-left: 16px;
    width: 425px;
    height: 365px;

    & .image {
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;

        & img {
            max-height: 100%;
        }
    }
}

.detail__thumbs-slider {
    margin: 0;
}

.basket__head {
    display: flex;
    padding-bottom: 15px;
    margin-bottom: 20px;
    border-bottom: 1px solid #d9d9d9;
}

.basket-wrp {
    display: flex;
    gap: 9.5%;
    align-items: flex-start;
    margin-bottom: 100px;
}

.basket__side-menu {
    width: 330px;
    border-radius: 10px;
    background: #F5F7FA;
}

.basket__content {
    flex-grow: 1;
}

.basket__action {
    padding: 31px 37px 37px 31px;
    border-radius: 10px;
    background: #FFF;
    box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.10);
}

.basket__count-info {
    padding: 16px 37px 21px 31px;
    font-size: 14px;
    line-height: 1;
    display: flex;
    flex-direction: column;
    gap: 7px;
}

.basket__final-price {
    font-size: 22px;
    font-weight: 700;
    line-height: 145%;
    display: flex;
    flex-direction: column;
    margin-bottom: 12px;
}

.final-price__note {
    color: rgba(0, 26, 52, 0.60);
    font-size: 12px;
    font-weight: 500;
    line-height: normal;
}

.basket__action-note {
    color: #676767;
    font-size: 14px;
    line-height: 170%;
    margin-bottom: 19px;
}

.basket__action-btn {
    width: 100%;
    padding: 18px;
    font-size: 14px;
    line-height: 1;
    font-weight: bold;
}

.basket__title {
    margin-right: auto;
}

.basket__head {
    align-items: flex-end;
    gap: 14px;
}

.basket__head .btn--white {
    color: #9B9B9B;
    font-size: 14px;
    line-height: 16px;
    padding: 12px;
    min-width: 188px;
    border: 1px solid #E2E2E2;
}

.basic_input-blue {
    border-radius: 5px;
    background: #F5F7FA;
    border: none;
}

.basic_input {
    color: #9B9B9B;
    font-size: 14px;
    font-weight: 400;
    line-height: 1;
    /* 100% */
    padding: 13px;
    min-width: 240px;
}

.basic_input::placeholder {
    color: #9B9B9B;
}

.product_in-basket {
    padding: 25px 0 17px;
    align-items: flex-start;

    .product__content {
        font-size: 14px;
        font-weight: 500;
        line-height: 140%;
        max-width: 350px;
        display: flex;
        flex-direction: column;
        gap: 15px;
    }

    .product__name {
        margin: 0;
    }

    .product__prices {
        margin: 0 auto;
        display: flex;
        gap: 50px;
    }

    .product__price-wrp {
        display: flex;
        flex-direction: column;
        gap: 4px;
    }

    .product__price {
        font-size: 14px;
        line-height: normal;
        font-weight: 500;
    }

    .product__price-note {
        color: rgba(0, 26, 52, 0.60);
        font-size: 12px;
        font-weight: 500;
        line-height: 166%;
    }

    .product__remove {
        font-size: 12px;
        font-weight: 500;
        line-height: normal;
        position: absolute;
        bottom: 17px;
        right: 0;
        z-index: 2;
    }
}

.footer {
    margin-top: auto;
}

.ordered__content {
    border-radius: 10px;
    background: #F5F7FA;
    padding: 33px;
    display: flex;
    flex-direction: column;
    gap: 13px;
    min-height: 333px;
}

.ordered__buttons {
    margin-top: auto;
    display: flex;
    gap: 15px;
}

.ordered__title a {
    color: #5b7fff;
}

.ordered__desc {
    font-size: 14px;
    line-height: 24px;
    max-width: 974px;
}

.ordered {
    margin-bottom: 83px;
}


.sign {
    flex-grow: 1;
    background: #F5F7FA;
    padding: 46px 0 110px;
}

.sign-wrp {
    max-width: 494px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 76px;
}

.sign__logo .logo {
    width: 189px;
}

.sign__form-wrp {
    padding: 41px 49px 49px;
    background: #fff;
    border-radius: 10px;
    width: 100%;
}

.sign__title {
    font-size: 22px;
    line-height: normal;
    text-align: center;
    margin-bottom: 40px;
}

.sign__form {
    display: flex;
    flex-direction: column;
    gap: 27px;
}

.form__label {
    font-size: 14px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.form__note {
    color: #797979;
}

.input_form {
    font-size: 14px;
    border-radius: 5px;
    background: #F5F7FA;
    border: none;
    padding: 17px 21px;
}

.input_form::placeholder {
    color: #787878;
}

.form__buttons {
    display: flex;
    flex-direction: column;
    gap: 18px;
}

.form__buttons .btn {
    width: 100%;
    font-size: 14px;
    line-height: 1;
    padding: 18px;
}

.page-head_default .page-head__content {
    padding: 25px 35px;
}

.personal__container {
    display: flex;
    gap: 22px;
}

.personal__sidebar {
    width: 365px;
    flex-shrink: 0;
    display: flex;
    flex-direction: column;
}

.personal__sidebar-link {
    border-bottom: 1px solid rgba(0, 0, 0, 0.03);
}

.personal__sidebar-link {
    border-radius: 5px;
    padding: 22px 27px;
    display: flex;
    align-items: center;
    gap: 9px;
    cursor: pointer;
}

.sidebar-link_active {
    pointer-events: none;
    background: #F5F7FA;
    border-color: #F5F7FA;
    color: #5B7FFF;
}

.personal__sidebar-link:last-child {
    border: none;
}

.personal__sidebar-link span {
    border-radius: 3px;
    background: #FF6565;
    padding: 3px 4px;
    color: #fff;
    font-size: 12px;
}

.personal {
    margin-bottom: 130px;
}

.personal-main__form-grid {
    grid-template: 1fr 1fr 1fr 1fr/1fr 1fr;
    display: grid;
    gap: 27px 17px;
    margin-bottom: 50px;

    .form__label:nth-child(4) {
        grid-column: 2/3;
        grid-row: 2/5;
    }

    .form__note {
        font-size: 12px;
        line-height: 16px;
    }
}

.personal-main__form-button {
    padding: 14px 14px 17px;
    line-height: 1;
    min-width: 225px;
    font-weight: 400;
}

.personal-main {
    max-width: 1000px;
}

.personal-orders {
    display: flex;
    flex-direction: column;
    gap: 30px;
    flex-grow: 1;
}

.personal-orders__head {
    color: #949494;
    font-size: 16px;
    line-height: 1;
    display: flex;
    gap: 22px;
}

.selector_selected {
    color: #3251A3;
}

.personal-orders__orders-table {
    width: 100%;
}


.table__more {
    cursor: pointer;
}

.table__row:first-child td {
    padding: 7px 0;
}

.table__row td:first-child {
    padding-left: 22px;
}

.table__row td:last-child {
    padding-right: 18px;
    text-align: end;
}

.table__row td {
    padding: 21px 0;
}

.table__row:nth-child(2n-1) {
    background: #F9F9F9;
}

.table__row:first-child {
    background: #F5F7FA;
    color: #979797;
}

.table__row:not(:first-child) .table__num {
    font-weight: 700;
}

.table__date {
    width: 12%;
}

.personal-orders__selector {
    cursor: pointer;
}

.personal-orders__pagination {
    align-self: flex-end;
}

.text {
    margin: 15px 0 120px;
}

.text-default {
    max-width: 1020px;
    line-height: normal;

    p {
        margin-top: 22px;
    }

    h2:not(:first-child) {
        margin-top: 22px;
    }

}

.cat-popup {
    position: fixed;
    width: 100%;
    height: 100%;
    background: #fff;
    z-index: 222;
    left: 0;
    bottom: 0;
    overflow: auto;
    padding-top: 165px;
    display: none;
}

.clients_big .clients__list {
    flex-wrap: wrap;
    gap: 15px;
}

.clients_big .client {
    width: calc((100% - 105px) / 8);
    padding: 10px 20px;
}

.clients_big .client img {
    max-height: 34px;
    height: auto;
}

.clients_big .clients__head {
    margin-bottom: 20px;
}

.categories__content {
    display: flex;
    gap: 65px;
}

.categories__select-item {
    padding: 8px 16px 8px 8px;
    border-radius: 5px;
}

.categories__select {
    font-size: 16px;
    font-weight: 500;
    line-height: 22px;
}

.category_selected {
    background: #F5F7FA;
    color: #3251A3;
}

.categories__cat-wrp {
    flex-grow: 1;
}

.categories__cat {
    display: none;
}

.categories__cat:first-child {
    display: block;
}

.cat-popup__wrapper {
    display: flex;
    flex-direction: column;
    gap: 60px;
}

.categories__cat-title {
    line-height: 32px;
    margin-bottom: 3px;
}

.categories__cat-count {
    font-size: 12px;
    font-weight: 500;
}

.categories__cat-list {
    column-count: 6;
    font-size: 13px;
    font-weight: 500;
}

.categories__cat-list-wrp {
    max-height: 340px;
    overflow: auto;
    margin-top: 30px;
}

.category {
    margin-top: 30px;
    display: flex;
    gap: 14px;
    flex-direction: column;
    page-break-inside: avoid;
    break-inside: avoid;
}

.category ul {
    display: flex;
    flex-direction: column;
    gap: 14px;
    color: #959595;
}

.category:first-child {
    margin-top: 0;
}

.clients.clients_big {
    margin-bottom: 30px;
}

.cat-popup__wrapper {
    gap: 60px;
}

.menu_opened {
    overflow: hidden;

    .cat-popup {
        display: block;
    }

    .header__foot {
        display: none;
    }

    .btn--with-burger>span span {
        &:nth-child(2) {
            display: none;
        }

        &:nth-child(1) {
            transform: rotate(40deg) translateY(3px);
        }

        &:nth-child(3) {
            transform: rotate(-40deg) translateY(-3px);
        }
    }

}

.header__catalog-btn {
    user-select: none;
}

.fancybox-content {
    padding: 23px 45px 52px 30px;
    width: 100%;
    max-width: 1600px;
    margin: 0 25px;
}

.fancybox-button svg {
    width: 34px;
    height: 34px;
    margin: 0 auto;
}

.fancybox-slide--html .fancybox-close-small {
    padding: 0;
}

.popup__title {
    margin-bottom: 5px;
}

.popup__sub-title {
    color: rgba(0, 26, 52, 0.60);
    font-size: 12px;
    font-weight: 500;
    margin-bottom: 32px;
}

.order__items-wrp {
    display: flex;
    width: 100%;
    gap: 50px;
}

.order-popup {
    width: 100%;


    .product__gallery {
        flex-shrink: 0;
    }

    .product_second-type .product__actions {
        padding-top: 0;
    }

    .product_second-type:last-child {
        padding-bottom: 0;
    }

    .product:first-child {
        border-top: 1px solid #DEDEDE;
        padding-top: 8px;
    }
}

.order__items-list {
    flex-grow: 1;
}

.order__items-btns {
    display: flex;
    width: 318px;
    flex-direction: column;
    gap: 18px;
}

.order__items-btns .btn {
    width: 100%;
}

.product__count {
    margin-top: 24px;
    margin-left: auto;
    padding-right: 22px;
}

.detail-popup {
    width: 100%;
}

.popup {
    width: 100%;
}

.analog-popup__analogs-wrp {
    display: flex;
    gap: 44px;
}

.analogs {
    display: flex;
    flex-direction: column;
    gap: 20px;
    flex-grow: 1;
}

.apply {
    display: flex;
    flex-direction: column;
    gap: 25px;
    width: 350px;
}

.apply__list {
    color: #5B7FFF;
    font-size: 14px;
    font-weight: 500;
    line-height: normal;
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.analogs__list {
    padding-top: 8px;
    border-top: 1px solid #DEDEDE;
}




















@media (max-width:$s1550) {
    .basic_slider__arrows .swiper-button-prev {
        left: 0;
        bottom: 0;
        top: auto;
        transform: scale(-1);
    }

    .basic_slider {
        padding-bottom: 48px;
    }

    .basic_slider.swiper-horizontal>.swiper-pagination-bullets {
        bottom: 12px;
    }

    .basic_slider__arrows .swiper-button-next {
        right: 0;
        bottom: 0;
        top: auto;
        transform: none;
    }
}

@media (max-width:$s1400) {
    .card {
        width: calc((100% - 45px) / 4);
    }

    .items__card-list {
        gap: 15px;
    }

    .info__block:last-child .info__block-desc {
        max-width: 400px;
    }
}

@media (max-width:$s1280) {

    .banner-slide {
        height: 300px;
    }

    .banner__content {
        padding: 30px 40px;
    }

    .banner__title {
        font-size: 30px;
        line-height: 1;
        margin-bottom: 12px;
    }

    .banner__desc {
        font-size: 14px;
        line-height: 20px;
        margin-bottom: 15px;
        max-width: 420px;
    }

    .banner__buttons {
        gap: 15px;
    }

    .btn {
        padding: 9px 15px;
        font-size: 14px;
    }

    .clients__list {
        gap: 15px;
        overflow: hidden;
    }

    .client {
        width: calc((100% - 45px) / 4);
        padding: 15px;
        flex-shrink: 0;
    }

    .nav {
        gap: 20px;
        font-size: 14px;
    }

    .types__item {
        width: calc((100% - 90px) / 4);
    }

    .types__filter {
        margin-bottom: 20px;
    }

    .info__block {
        height: 200px;
        padding: 20px;
    }

    .info__block-desc {
        font-size: 14px;
    }

    .info__block-title {
        margin-bottom: 10px;
    }

    .info__block:last-child .info__block-desc {
        max-width: 300px;
    }

    .footer__navigation {
        gap: 25px;
    }

    .footer__navigation .nav {
        min-width: 150px;
    }
}

@media (max-width:$s970) {
    .header {
        margin-bottom: 17px;
        border-bottom: 1px solid #DEDEDE;
    }

    .max-width,
    .container {
        padding: 0 16px;
    }

    .header__content {
        padding: 0;
        justify-content: space-between;
        align-items: center;
    }

    .header__logo {
        order: 2;
        max-width: 153px;
        margin: 0;
    }

    .header__search {
        align-items: center;
        margin: 0;
        flex-grow: 0;
    }

    .search-icon {
        position: static;
        transform: none;
    }

    .header__burger {
        order: 3;
    }

    .header__burger.btn--with-burger>span span {
        background: #282828;
    }

    .header__burger.btn--with-burger>span {
        width: 22px;
        gap: 5px;
    }

    .banners {
        margin-bottom: 56px;
        padding: 0 0 20px;
    }

    .banner-slide.swiper-slide-active {
        transform: none;
        background: #F5F7FA;
    }

    .banner-slide {
        height: auto;
        flex-direction: column;
    }

    .banner__bg {
        position: static;
        height: 200px;
        border-radius: 10px;
        overflow: hidden;
        position: relative;
    }


    .banner__content {
        color: #313131;
        padding: 9px 18px 29px 13px;
    }

    .banner__title {
        font-size: 14px;
        font-weight: 600;
        line-height: 25px;
        margin-bottom: 4px;
    }

    .banner__desc {
        font-size: 12px;
        line-height: 18px;
        margin-bottom: 12px;
    }

    .banner__buttons {
        flex-direction: column;
        gap: 12px;
    }

    .banner__buttons .btn {
        width: 100%;
        padding: 15px;
        font-size: 16px;
        line-height: 1;
    }

    .banners-slider.swiper-horizontal>.swiper-pagination-bullets {
        bottom: -20px;
    }

    .banners-slider .swiper-pagination-bullet {
        background: #5B7FFF;
    }

    .clients__more {
        display: none;
    }

    h2 {
        line-height: 22px;
    }

    .clients__head {
        margin-bottom: 11px;
    }

    .clients__list {
        flex-wrap: wrap;
        gap: 5px;
        justify-content: space-between;
    }

    .client {
        width: calc((100% - 9px) / 2);
        padding: 18px 15px;
    }

    .client__link {
        height: 35px;
        display: flex;
        justify-content: center;
    }

    .client__link img {
        max-height: 100%;
    }

    .clients {
        margin-bottom: 56px;
    }

    .items__title {
        margin-bottom: 11px;
    }

    .items__filter {
        gap: 7px;
        overflow: auto;
        padding: 0 15px;
        margin: 0 -15px;
    }

    .items__card-list {
        gap: 12px;
        margin-top: -35px;
    }

    .items__head {
        position: relative;
        z-index: 2;
    }

    .card {
        width: calc((100% - 12px) / 2);
        margin-top: 35px;
        display: none;
    }

    .gallery__pic {
        height: 141px;
    }

    .card__in-stock {
        order: -1;
        margin-bottom: 5px;
        font-size: 12px;
    }

    .card__content {
        margin-top: 15px;
        display: flex;
        flex-direction: column;
    }

    .card__price {
        order: 5;
        font-size: 15px;
    }

    .card__title {
        font-size: 14px;
        margin-bottom: 3px;
        line-height: 20px;
    }

    .card__desc {
        margin: 5px 0 12px;
        font-size: 14px;
        line-height: 20px;
    }

    .card:nth-child(1),
    .card:nth-child(2),
    .card:nth-child(3),
    .card:nth-child(4) {
        display: block;
    }

    .items__more .btn {
        min-width: 0;
        width: 100%;
        font-size: 16px;
    }

    .banners-list {
        display: none;
    }

    .items {
        margin-bottom: 56px;
    }

    .types__title {
        margin-bottom: 11px;
    }

    .types__filter {
        gap: 3px;
        flex-wrap: nowrap;
        margin: 0 -15px 30px;
        padding: 0 15px;
    }

    .scroll_mobile-unvisible {
        overflow: auto;
        -ms-overflow-style: none;
        overflow: -moz-scrollbars-none;
    }

    .scroll_mobile-unvisible::-webkit-scrollbar {
        width: 0;
    }

    .types__items {
        flex-wrap: nowrap;
        gap: 22px;
        margin-bottom: 0;
    }

    .types__word {
        font-size: 18px;
        line-height: 22px;
    }

    .types__item {
        gap: 22px;
        width: calc((100% - 22px) / 2);
        flex-shrink: 0;
    }

    .types__type-list {
        font-size: 14px;
        gap: 8px;
        line-height: 22px;
    }

    .types__more {
        font-size: 14px;
        margin-top: 16px;
    }

    .types {
        margin-bottom: 47px;
    }

    .banner-sep {
        margin-bottom: 56px;
    }

    .banner-sep__pic {
        height: 93px;
    }

    .banner-sep__pic img {
        border-radius: 5px;
    }

    .info-wrp {
        flex-direction: column;
    }

    .info__block {
        width: 100%;
        height: auto;
        padding: 20px 18px 30px;
    }

    .info__block-desc {
        line-height: 22px;
    }

    .info__block-btn.btn {
        width: 100%;
        margin-top: 35px;
        padding: 14px 14px 17px;
        font-size: 16px;
        line-height: 1;
        max-width: 400px;
    }

    .info__block--with-car {
        background: linear-gradient(182deg, #F5F7FA 2.85%, #DEEBFF 98.37%);
    }

    .info__block:last-child {
        padding: 32px 19px 198px;
    }

    .info__block-image {
        height: 133px;
        bottom: 0;
        top: auto;
    }

    .info__block:last-child .info__block-btn.btn {
        margin-top: 20px;
    }

    .info {
        margin-bottom: 47px;
    }

    .footer-main {
        padding: 41px 0 61px;
        border-radius: 10px;
    }

    .footer {
        border-radius: 10px;
    }

    .footer__logo .logo {
        width: 153px;
    }

    .footer__logo {
        margin-bottom: 15px;
    }

    .footer__navigation {
        flex-direction: column;
        gap: 0;
        width: 100%;
    }

    .footer__navigation .nav {
        gap: 5px;
        padding: 15px 0 10px;
        border-bottom: 1px solid #E7E7E7;
        line-height: 19px;
    }

    .nav--item-head {
        margin-bottom: 5px;
        font-size: 14px;
        font-weight: 600;
        line-height: 22px;
        display: block;
    }

    .nav--item-head+.nav__item {
        margin-top: 5px;
    }

    .footer__foot {
        padding: 20px 0;
        font-size: 12px;
        letter-spacing: 0.24px;
    }

    .footer__dev {
        gap: 10px;
        max-width: 104px;
    }

    .footer__dev .icon {
        flex-shrink: 0;
    }

    .footer__foot .container {
        align-items: center;
    }

    .nav--columns .nav__item {
        display: none;

        &.nav--item-head {
            display: block;
        }
    }

    .nav_opened {
        .nav__item {
            display: block;
        }

        .nav--item-head::after {
            transform: translateY(-50%) scale(-1);
        }
    }

    .clients-wrp .items__more {
        margin-top: 10px;
    }

    .nav--item-head {
        position: relative;

        &::after {
            content: "";
            position: absolute;
            width: 11px;
            height: 6.5px;
            background: url('../icons/arrow.svg') no-repeat;
            background-size: contain;
            top: 50%;
            right: 8px;
            transform: translateY(-50%);
        }
    }

    .page-head__content {
        padding: 0;
        background: transparent;
    }

    .page-head__text {
        border-radius: 10px;
        background: #F5F7FA;
        padding: 18px 20px 20px;
    }

    .page-head__breadcrumbs {
        white-space: nowrap;
        overflow: auto;
        margin: 0 -15px 15px;
        padding: 0 15px;
    }

    .page-head-wrp {
        overflow: visible;
    }

    .catalog__filter {
        display: flex;
        align-items: center;
        gap: 6px;
    }

    .catalog__filter .icon {
        width: 14px;
        height: 14px;
    }

    .catalog__sort {
        padding: 0;
        border: none;
        min-width: 0;
        padding-left: 20px;
    }

    .catalog__sort-arrow {
        right: auto;
        left: 0;
        padding: 1px;
    }

    .catalog__banner-sep {
        padding: 19px 24px 24px 16px;
        height: 172px;
        display: flex;
    }

    .catalog__banner-content {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }

    .catalog__banner-content .btn {
        margin-top: auto;
    }

    .catalog__banner-desc {
        max-width: 280px;
    }

    .product {
        flex-direction: column;
    }

    .product__tags {
        flex-direction: column;
        align-items: flex-start;
        position: absolute;
        top: 22px;
        left: 0;
        z-index: 2;
    }

    .product__gallery {
        margin: 0 auto;
        padding-bottom: 15px;
        width: auto;
        max-width: 250px;
    }

    .product__name {
        font-size: 14px;
        font-style: normal;
        line-height: 20px;
        margin-top: 5px;
    }

    .product__in-stock {
        font-size: 12px;
        font-style: normal;
        font-weight: 500;
        line-height: 20px;
        margin-bottom: 5px;
    }

    .product__price {
        font-size: 15px;
        line-height: 25px;
    }

    .product__actions {
        margin-left: 0;
        margin-top: 12px;
    }

    .product {
        padding: 0;
        border: none;
        margin-top: 38px;
        width: calc((100% - 12px) / 2);
    }

    .product__tags {
        top: 2px;
    }

    .catalog__items {
        margin-top: -38px;
        gap: 12px;
        display: flex;
        flex-wrap: wrap;
    }

    .catalog__banner-sep {
        margin-top: 18px;
    }

    .product__name {
        margin-bottom: 0;
    }

    .product__content {
        margin-bottom: auto;
    }

    .catalog__foot {
        justify-content: center;
        padding-top: 32px;
    }

    .catalog__content {
        margin-bottom: 70px;
    }

    .items__slider .items__card-list {
        flex-wrap: wrap;
        gap: 12px;
    }

    .clients__slider-wrp .clients__list {
        gap: 5px;
        max-height: 237px;
    }

    .product__in-stock {
        font-size: 12px;
        font-style: normal;
        font-weight: 500;
        line-height: 20px;
        margin-bottom: 5px;
    }

    .product__price {
        font-size: 15px;
        line-height: 25px;
    }

    .product__actions {
        margin-left: 0;
        margin-top: 12px;
    }

    .product {
        padding: 0;
        border: none;
        margin-top: 38px;
        width: calc((100% - 12px) / 2);
    }

    .product__tags {
        top: 2px;
    }

    .catalog__items {
        margin-top: -38px;
        gap: 12px;
        display: flex;
        flex-wrap: wrap;
    }

    .catalog__banner-sep {
        margin-top: 18px;
    }

    .product__name {
        margin-bottom: 0;
    }

    .product__content {
        margin-bottom: auto;
    }

    .catalog__foot {
        justify-content: center;
        padding-top: 32px;
    }

    .catalog__content {
        margin-bottom: 70px;
    }

    .items__slider .items__card-list {
        flex-wrap: wrap;
        gap: 12px;
        align-items: stretch;
    }

    .clients__slider-wrp .clients__list {
        gap: 5px;
        max-height: 237px;
    }

    .basic_slider {
        padding-bottom: 0;
    }

    .card__gallery {
        padding-bottom: 5px;
        width: 100%;
    }

    .product .gallery__pic {
        height: 141px;
    }

    .card__price {
        margin-top: auto;
    }

    .items__slider .card {
        height: auto;
    }

    .card__link {
        height: 100%;
        display: flex;
        flex-direction: column;
    }

    .card__content {
        flex-grow: 1;
    }

    .basic_slider {
        padding-bottom: 0;
    }

    .page-head {
        margin-bottom: 28px;
    }
}

@media (min-width:$s970) {
    .mobile_viewed {
        display: none !important;
    }
}

@media (max-width:$s970) {
    .desk_viewed {
        display: none !important;
    }
}