@font-face {
  font-family: 'NeueMachina';
  src: url('../static/fonts/PPNeueMachina-Regular.woff') format('woff'),
    url('../static/fonts/PPNeueMachina-Regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: block;
}
