$maxWidth: 1550px;
//breakpoints
$s1400: 1400px;
$s1280: 1280px;
$s970: 970px;
$s860: 860px;
$s640: 640px;
$s540: 540px;
$s480: 480px;
$s320: 320px;
//colors
$white: #fff;
$blueDark: #3251A3;
$blue: #5263FC;
$blueLight: #5B7FFF;
$peach: #FF6565;
$purple: #A56FFD;
$green: #69BE15;
$greenLight: #00D756;
$gray: #D9D9D9;
$red: #DA0027;
$blueFooter: #111421;
$dark: #222;