mixin banners() 
  section.banners-list 
    .container 
      ul.banners-list__items 
        li.banners-list__item 
          figure.image
            img(src="./images/banner.png", alt="#")
        li.banners-list__item 
          figure.image
            img(src="./images/banner.png", alt="#")
        li.banners-list__item 
          figure.image
            img(src="./images/banner.png", alt="#")