mixin breadcrumbs(bigMargin) 
  section.breadcrumbs-sec(class=bigMargin ? 'breadcrumb_big-mg' : '')
    .container 
      nav.breadcrumbs 
        a.breadcrumbs__item(href="#") Главная
        a.breadcrumbs__item(href="#") Каталог
        a.breadcrumbs__item(href="#") Запчасти на КАМАЗ
        span.breadcrumbs__item(href="#") Система отопления