mixin clients()
  section.clients 
    .container 
      .clients-wrp 
        header.clients__head 
          h2.clients__title.sec_title Мы дилеры более 300 заводов
          a.clients__more.link_more(href="") 
            | Показать все
            figure.icon 
              include ../../icons/arrow-more.svg
        ul.clients__list 
          li.client 
            a.client__link(href="#") 
              figure.image 
                img(src="./images/client1.png", alt="Технотрон")
          li.client 
            a.client__link(href="#") 
              figure.image 
                img(src="./images/client2.png", alt="Технотрон")
          li.client 
            a.client__link(href="#") 
              figure.image 
                img(src="./images/client1.png", alt="Технотрон")
          li.client 
            a.client__link(href="#") 
              figure.image 
                img(src="./images/client2.png", alt="Технотрон")
          li.client 
            a.client__link(href="#") 
              figure.image 
                img(src="./images/client1.png", alt="Технотрон")
          li.client 
            a.client__link(href="#") 
              figure.image 
                img(src="./images/client2.png", alt="Технотрон")