mixin headerCategory()
  section.categories 
    .container 
      .categories__content 
        .categories__select 
          .categories__select-item.category_selected Запчасти для а/м КАМАЗ
          .categories__select-item Запчасти 5490
          .categories__select-item Запчасти для а/м МАЗ
        .categories__cat-wrp
          - for (let i=0;i<3; i++)
            .categories__cat(class=(i ==0) ? 'cat_open' : '')
              h1.categories__cat-title Запчасти для а/м КАМАЗ
              .categories__cat-count.clr--blue-dark 10 000 товаров
              .categories__cat-list-wrp.scrollbar--blue
                ul.categories__cat-list
                  - for (let i=0;i<8; i++)
                    li.category
                      h3.category__title Тормозная система
                      ul 
                        li 
                          a(href="./catalog.pug") Двигатель
                        li 
                          a(href="./catalog.pug") Запчасти для а/м КАМАЗ
                        li 
                          a(href="./catalog.pug") Тормозная система
                        li 
                          a(href="./catalog.pug") Двигатель
                    li.category
                      h3.category__title Тормозная система
                      ul 
                        li 
                          a(href="./catalog.pug") Двигатель
                        li 
                          a(href="./catalog.pug") Запчасти для а/м КАМАЗ
                        li 
                          a(href="./catalog.pug") Тормозная система
                        li 
                          a(href="./catalog.pug") Двигатель
                        li 
                          a(href="./catalog.pug") Запчаст  и для а/м КАМАЗ
                        li 
                          a(href="./catalog.pug") Тормозная система