mixin infoBlock()
  section.info 
    .container 
      .info-wrp
        .info__block 
          h2.info__block-title Наши диллерские сертификаты
          .info__block-desc 
            p АВТОМОТОРС является дилером и партнером более 200 заводов-смежников.
          button.info__block-btn.btn.btn--darkest Подробнее
        .info__block.info__block--with-car
          h2.info__block-title Наши диллерские сертификаты
          .info__block-desc 
            p АВТОМОТОРС является дилером и партнером более 200 заводов-смежников.
          button.info__block-btn.btn.btn--darkest Подробнее
          figure.info__block-image.image 
            img(src="./images/car.png", alt="")