mixin mainBanner()
  section.banners 
    .container 
      .banners-slider.swiper
        .banners-slides.swiper-wrapper 
          .banner-slide.swiper-slide
            figure.image.banner__bg 
              img(src="./images/banner.png", alt="Баннер")
            .banner__content 
              h2.banner__title Полный ассортимент
              .banner__desc 
                p Покоряйте новые территории на велосипедах! Горные, складные, городские или двухподвесные — найдется все.
              .banner__buttons 
                a(href='')
                  button.btn Выбрать
                a(href='')
                  button.btn.btn--white Узнать о скидках
          .banner-slide.swiper-slide
            figure.image.banner__bg 
              img(src="./images/banner.png", alt="Баннер")
            .banner__content 
              h2.banner__title Полный ассортимент
              .banner__desc 
                p Покоряйте новые территории на велосипедах! Горные, складные, городские или двухподвесные — найдется все.
              .banner__buttons 
                a(href='')
                  button.btn Выбрать
                a(href='')
                  button.btn.btn--white Узнать о скидках
          .banner-slide.swiper-slide
            figure.image.banner__bg 
              img(src="./images/banner.png", alt="Баннер")
            .banner__content 
              h2.banner__title Полный ассортимент
              .banner__desc 
                p Покоряйте новые территории на велосипедах! Горные, складные, городские или двухподвесные — найдется все.
              .banner__buttons 
                a(href='')
                  button.btn Выбрать
                a(href='')
                  button.btn.btn--white Узнать о скидках
        .banner-dots.swiper-pagination