mixin navigationPage()
  .page__navigation  
    .pages__turn.desk_viewed 
      figure.pages__prev-icon.icon 
        include ../../icons/arrow-more.svg
      .pages__text Назад
    .pages__nums
      .pages__num 1
      .pages__num 2
      .pages__num 3
      .pages__num ...
      .pages__num 17
      .pages__num 18
    .pages__turn.desk_viewed 
      .pages__text Вперед
      figure.pages__next-icon.icon 
        include ../../icons/arrow-more.svg