mixin newItems(title = "Новинки")
  section.items
    .container 
      .items-wrp 
        header.items__head
          h2.items__title.sec_title= title
          .items__filter.scroll_mobile-unvisible  
            .items__filter-item.filter-selected Все
            .items__filter-item Технотрон
            .items__filter-item Технотрон
            .items__filter-item Технотрон
            .items__filter-item Технотрон
        ul.items__card-list 
          - for (let i=0;i < 6;i++)
            li.card 
              a.card__link( href="./detail.pug")
                .card__gallery.swiper 
                  .card__gallery-pics.swiper-wrapper 
                    figure.gallery__pic.image.swiper-slide 
                      img(src="./images/card1.png", alt="")
                    figure.gallery__pic.image.swiper-slide 
                      img(src="./images/card2.png", alt="")
                    figure.gallery__pic.image.swiper-slide 
                      img(src="./images/card3.png", alt="")
                  .card__gallery-pagination.swiper-pagination.flat-pag 
                .card__tags   
                  .card__tag.bg--peach Хит
                  .card__tag.bg--purple Советуем
                .card__content 
                  span.card__price 3 200 ₽
                  h3.card__title Паневежио Аурида
                  span.card__articul WR545653-39
                  .card__desc 
                    p Компрессор  фывфыыыв ф12 одноцилиндровый (Паневежио-Аурида)
                  .card__in-stock В наличии
            li.card 
              a.card__link( href="./detail.pug")
                .card__gallery.swiper 
                  .card__gallery-pics.swiper-wrapper 
                    figure.gallery__pic.image.swiper-slide 
                      img(src="./images/card1.png", alt="")
                    figure.gallery__pic.image.swiper-slide 
                      img(src="./images/card2.png", alt="")
                    figure.gallery__pic.image.swiper-slide 
                      img(src="./images/card3.png", alt="")
                  .card__gallery-pagination.swiper-pagination 
                .card__tags   
                  .card__tag.bg--peach Хит
                  .card__tag.bg--purple Советуем
                .card__content 
                  span.card__price 3 200 ₽
                  h3.card__title Паневежио Аурида
                  span.card__articul WR545653-39
                  .card__desc 
                    p Компрессор  фывфыыыв ф12 одноцилиндровый (Паневежио-Аурида)
                  .card__in-stock.clr--red Нет в наличии
        .items__more 
          button.btn.btn--blue-light Показать еще