include ./orderAnalogs.pug
mixin orderPopup()
  section.order-popup.popup.fancybox#order-popup(style='display:none') 
    .container 
      .order-popup__content 
        h1.popup__title Заказ №5423 от 02.09.23 на сумму 23 122 руб.
        .popup__sub-title 12 позиций
        +orderAnalogs()