mixin personalSidebar()
  aside.personal__sidebar
    a.personal__sidebar-link.sidebar-link_active Рабочий стол 
    a.personal__sidebar-link(href='./personal-orders.pug') Мои заказы <span>100+</span> 
    a.personal__sidebar-link История поиска 
    a.personal__sidebar-link Возврат брака
    a.personal__sidebar-link Спец. раздел <span>3</span> 
    a.personal__sidebar-link Избранное <span>28</span> 
    a.personal__sidebar-link Информационные письма
    a.personal__sidebar-link.clr--red Выйти