include ./personalSidebar.pug

mixin personalMain()
  section.personal
    .container 
      .personal__container 
        +personalSidebar()
        .personal-main 
          .personal-main__form 
            .personal-main__form-grid
              label.form__label
                span Ваше Имя
                input.form__input.input_form(type="text" name='name' placeholder='')
              label.form__label
                span Пароль
                input.form__input.input_form(type="text" name='pass' placeholder='')
              label.form__label
                span Ваша Фамилия
                input.form__input.input_form(type="text" name='secondname' placeholder='')
              label.form__label
                span Повторите новый пароль
                input.form__input.input_form(type="text" name='passrepeat' placeholder='')
                span.form__note Пароль должен быть не менее 10 символов длиной, содержать латинские символы верхнего регистра (A-Z), содержать латинские символы нижнего регистра (a-z), содержать цифры (0-9), содержать знаки пунктуации (,.<>/?;:'"[]{}\|`~!@#$%^&*()_+=-).
              label.form__label
                span Логин / email
                input.form__input.input_form(type="text" name='login' placeholder='')
              label.form__label
                span Название компании
                input.form__input.input_form(type="text" name='company' placeholder='')
            button.personal-main__form-button.btn.btn--darkest Сохранить