mixin productCard(secondType = false)
  .product( class= secondType ? 'product_second-type' : '')
    a.product__gallery.swiper( href="./detail.pug") 
        .product__gallery-pics.swiper-wrapper 
          figure.gallery__pic.image.swiper-slide 
            img(src="./images/card1.png", alt="")
          figure.gallery__pic.image.swiper-slide 
            img(src="./images/card2.png", alt="")
          figure.gallery__pic.image.swiper-slide 
            img(src="./images/card3.png", alt="")
        .product__gallery-pagination.swiper-pagination.flat-pag 
    .product__content
      - if(!secondType) 
        ul.product__tags 
          li.product__tag.bg--peach Хит
          li.product__tag.bg--purple Советуем
      .product__in-stock.mobile_viewed В наличии
      h3.card__title.mobile_viewed Паневежио Аурида
      span.card__articul.mobile_viewed WR545653-39
      a.product__name( href="./detail.pug") Обойма передняя дифференциала раздаточной коробки (ПАО)
      ul.product__chars.desk_viewed 
        li.product__char
          span Артикул:
          span 5320-5001010
        li.product__char
          span Производитель:
          span ПАО
        - if(!secondType)
            li.product__char
              span Применяемость:
              span КАМАЗ 5320,  5410 | МАЗ 5410
            li.product__char
              span Аналоги:
              span ЗИТ - 5 320 руб.  | Россия - 3 000 руб.
    .product__actions
      .product__price-wrp 
        span.product__price 5 200 руб.
        .product__in-stock.desk_viewed В наличии
      button.btn.desk_viewed В корзину
    - if(!secondType) 
      .product__fav.desk_viewed 
        figure.icon 
          img(src="./images/star.png", alt="")