mixin productCard()
  a.product
    .product__gallery.swiper 
        .product__gallery-pics.swiper-wrapper 
          figure.gallery__pic.image.swiper-slide 
            img(src="./images/card1.png", alt="")
          figure.gallery__pic.image.swiper-slide 
            img(src="./images/card2.png", alt="")
          figure.gallery__pic.image.swiper-slide 
            img(src="./images/card3.png", alt="")
        .product__gallery-pagination.swiper-pagination.flat-pag 
    .product__content 
      ul.product__tags 
        li.product__tag.bg--peach Хит
        li.product__tag.bg--purple Советуем
      .product__name Обойма передняя дифференциала раздаточной коробки (ПАО)
      ul.product__chars 
        li.product__char
          span Артикул:
          span 5320-5001010
        li.product__char
          span Производитель:
          span ПАО
        li.product__char
          span Применяемость:
          span КАМАЗ 5320,  5410 | МАЗ 5410
        li.product__char
          span Аналоги:
          span ЗИТ - 5 320 руб.  | Россия - 3 000 руб.
    .product__actions
      .product__price-wrp 
        span.product__price 5 200 руб.
        .product__in-stock В наличии
      button.btn В корзину
    .product__fav 
      figure.icon 
        img(src="./images/star.png", alt="")