include ../main/header.pug
include ../main/footer.pug
include ../mixins/mainBanner.pug
include ../mixins/clients.pug
include ../mixins/newItems.pug
include ../mixins/banners.pug
include ../mixins/catalogTypes.pug
include ../mixins/bannerSeparator.pug
include ../mixins/infoBlock.pug

+header()
+mainBanner()
+clients()
+newItems()
+banners()
+catalogTypes()
+bannerSeparator()
+newItems()
+infoBlock()
+footer()
