include ../main/header.pug
include ../main/footer.pug
include ../mixins/orderAnalogs.pug
include ../mixins/pageHeadPersonal.pug

+header()
+pageHeadPersonal(true, 'Заказ №5423 от 02.09.23 на сумму 23 122 руб.')
+orderAnalogs()
+footer()
