include ../main/header.pug
include ../main/footer.pug
include ../mixins/personalOrders.pug
include ../mixins/pageHeadPersonal.pug

+header()
+pageHeadPersonal(true, 'Мои заказы')
+personalOrders()
+footer()
